@media (max-width: 768px) {
  .flex {
    display: block;
    // min-height: 100%;
  }
  .menu {
    width: 70%;
    top: 51px;
  }
  .menu-btn {
    top: 5px;
    border-radius: 1px;
    border: 1px solid #ddd;
    background-color: #fff;
  }
  .menu-btn_active {
    right: -30px;
    top: -1px;
    border: none;
    span {
      background-color: #c63f2f;
      &::before {
        background-color: #c63f2f;
      }
      &::after {
        background-color: #c63f2f;
      }
    }
  }
  .mobile-flex {
    display: flex;
    justify-content: space-between;
  }
  .small-print {
    clip-path: none;
    margin: -20px -14px 0px -15px;
    // padding-bottom: 28px;
    a {
      clip-path: none;
      border: 1px solid #c1b3b3;
      color: #615b5b;
      width: 100%;
      margin-left: -2px;
      display: block;
    }
  }
  .modal-footer {
    display: flex;
    justify-content: space-around;
  }
  .btn {
    font-size: 12px;
  }
  .content_active {
    transform: translateX(70%);
  }
  .nav-menu ul {
    min-width: 190px;
  }
  .btn-breadcrumb .btn {
    padding:9px 12px 6px 24px;
  }
  .btn-breadcrumb .btn:first-child {
    padding:9px 6px 6px 10px;
  }
  .btn-breadcrumb .btn:last-child {
    padding:9px 18px 6px 24px;
  }

  .screen-block .product-screen img {
    max-width: 300px;
  }
  .other-screen-list {
    overflow: visible;
    img {
      max-width: 60px;
    }
    
  }
  
}