/public/products/
/resources/views/store/green
/resources/archive/
/storage/images/
/node_modules
/public/hot
/public/temp
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/resources/mdbootstrap.com
.bash_history                                                                                                   
.bashrc                                                                                                         
.cache/                                                                                                          
.config/                                                                                                         
.git2/                                                                                                           
.local/                                                                                                          
.subversion/                                                                                                     
.viminfo                                                                                                         
DCMSX/                                                                                                           
public_html                                                                                                      
public/images/products